<div class="outer">
  <div [ngClass]="{ 'is-side-panel-expanded': isSidePanelExpanded }">
    <mat-card>
      <h2>Transactions:</h2>
      <div class="top-container row justify-content-center">
        <div
          class="filter-container col-12 col-md-10 row justify-content-center"
        >
          <div class="filter col-6 col-md-3">
            <mat-form-field class="searchRetail">
              <input
                type="text"
                placeholder="Retailer"
                aria-label="Number"
                matInput
                [formControl]="retailerControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let retailer of retailerFilteredOptions | async"
                  [value]="retailer"
                >
                  {{ retailer }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-6 col-md-3">
            <mat-form-field class="searchStatus">
              <input
                type="text"
                placeholder="Status"
                aria-label="Number"
                matInput
                [formControl]="statusControl"
                [matAutocomplete]="auto2"
              />
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option
                  *ngFor="let status of statusFilteredOptions | async"
                  [value]="status"
                >
                  {{ status }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-6 col-md-3">
            <mat-form-field>
              <mat-label>Pick a date</mat-label>
              <input
                matInput
                [formControl]="dateControl"
                [matDatepicker]="picker"
                (dateInput)="dateChanged($event)"
                (dateChange)="dateChanged($event)"
                placeholder="MM/DD/YYYY"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button class="mr-0 ml-5" mat-raised-button (click)="onReset()">RESET</button>
          </div>
        </div>
      </div>
      <div class="date">
        <p>
          <strong>{{ today | date: "fullDate" }}</strong>
        </p>
      </div>
      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event"
      >
      </mat-paginator>
      <div *ngIf="pageEvent">
        <div
          class="transaction-container"
          *ngFor="
            let i = index;
            let item;
            of: allTransaction.slice(
              pageEvent.pageIndex * pageEvent.pageSize,
              (pageEvent.pageIndex + 1) * pageEvent.pageSize
            )
              | filter: retailerControl.value
              | filter: statusControl.value
              | filter: searchDate
          "
        >
          <app-transactions-card [item]="item"></app-transactions-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
