<div class="outer" style="overflow-x: hidden;">
  <div  style="overflow-y:auto; overflow-x: hidden; margin-right: 10%;">
  <h2 style="text-align: center; margin-bottom: 7vh;">
    <b>Notifications</b>
  </h2>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-10 col-lg-6">
        <mat-card class="mat-elevation-z8"
          style=" height: 68vh; margin-top: 1vh; overflow-y: auto; overflow-x: hidden;"
        >
          <h5 class="col-12 text-center text-md-left" style="margin-bottom: 3vh;">
            <b>REQUESTS</b>
          </h5>
          <div class="row">
            <div class="col-12 col-md-10 col-lg-6 text-center text-md-left">
              <button
                *ngIf="inviteStatus == 'true'"
                mat-raised-button
                class="button button1"
                style="
                  margin-left: 1em;
                  width: 13em;
                  border-radius: 0.5em;
                  padding: 1em;
                  display: inline-block;
                "
                (click)="onReq()"
              >
                Invite Request &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span

   style="
                    padding: 0.5em;
                    margin-left: 0.5em;
                    border-radius: 0.5em;
                    background-color: orange;
                    right: 0;
                  "
                  >{{ invitations.length }}</span
                >
              </button>
            </div>
          </div>
          <h5
            class="col-12 text-center text-md-left"
            style="margin-bottom: 2vh; margin-top: 4vh;"
          >
            <b>ORDERS</b>
          </h5>
          <div class="row">
            <div class="col-12 col-md-10 col-lg-6 text-center text-md-left">
              <button
                *ngIf="newOrderStatus == 'true'"
                mat-raised-button
                class="btn-block button2"
                style="
                  margin-left: 1em;
                  width: 13em;
                  border-radius: 0.5em;
                  padding: 1em;
                  background-color: white;
                  display: inline-block;
                  vertical-align: top;
                  margin-top: 1.5em;
                  /* font-size: 1vw; */
                "
                (click)="onNew()"
              >
                New Orders &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span
                  style="
                    padding: 0.5em;
                    margin-left: 1.2em;
                    border-radius: 0.5em;
                    background-color: #52e88e;
                  "
                  >{{ newLen }}</span
                >
              </button>
            </div>
            <div class="col-12 col-md-10 col-lg-6 text-center text-md-left">
              <button
                *ngIf="criticalOrderStatus == 'true'"
                mat-raised-button
                class="btn-block button3"
                style="
                  margin-left: 1em;
                  width: 13em;
                  border-radius: 0.5em;
                  padding: 1em;
                  background-color: white;
                  display: inline-block;
                  vertical-align: top;
                  /* font-size: 1vw; */
                  margin-top: 1.5em;
                "
                (click)="onCritical()"
              >
                Critical Orders &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span
                  style="
                    padding: 0.5em;
                    margin-left: 1em;
                    border-radius: 0.5em;
                    background-color: #c683fc;
                    right: 0 !important;
                    color: white;
                  "
                  >{{ criticalFilteredArray.length }}</span
                >
              </button>
            </div>
            <div class="col-12 col-md-10 col-lg-6 text-center text-md-left">
              <button
                *ngIf="packedOrderStatus == 'true'"
                mat-raised-button
                class="btn-block button4"
                style="
                  margin-left: 1em;
                  width: 13em;
                  border-radius: 0.5em;
                  padding: 1em;
                  background-color: white;
                  display: inline-block;
                  vertical-align: top;
                  margin-top: 1.5em;
                  /* font-size: 1vw; */
                "
                (click)="onPacked()"
              >
                Packed Orders &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span
                  style="
                    padding: 0.5em;
                    margin-left: 1em;
                    border-radius: 0.5em;
                    background-color: #18a7f8;
                  "
                  >{{ packedLen }}</span
                >
              </button>
            </div>
            <div class="col-12 col-md-10 col-lg-6 text-center text-md-left">
              <button
                *ngIf="dispatchedOrderStatus == 'true'"
                mat-raised-button
                class="btn-block button5"
                style="
                  margin-left: 1em;
                  width: 13em;
                  border-radius: 0.5em;
                  padding: 1em;
                  background-color: white;
                  display: inline-block;
                  vertical-align: top;
                  margin-top: 1.5em;
                  /* font-size: 1vw; */
                "
                (click)="onDispatch()"
              >
                Dispatched Orders
                <span
                  style="
                    padding: 0.5em;
                    margin-left: 1em;
                    border-radius: 0.5em;
                    background-color: #ade32b;
                  "
                  >{{ dispatchLen }}</span
                >
              </button>
            </div>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col-12 col-md-10 col-lg-6 text-center text-md-left">
              <button
                *ngIf="cancelOrderStatus == 'true'"
                mat-raised-button
                class="btn-block button6"
                style="
                  margin-left: 1em;
                  width: 13em;
                  border-radius: 0.5em;
                  padding: 1em;
                  background-color: white;
                  display: inline-block;
                  vertical-align: top;
                  margin-top: 1.5em;
                  /* font-size: 1vw; */
                "
                (click)="onCancel()"
              >
                Cancelled Orders &nbsp;
                <span
                  style="
                    padding: 0.5em;
                    margin-left: 1em;
                    border-radius: 0.5em;
                    background-color: #fb4549;
                    color: white;
                  "
                  >{{ cancelLen }}</span
                >
              </button>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-12 col-md-10 col-lg-6">
        <mat-card class="mat-elevation-z8" style="height: 68vh; margin-top: 1vh;overflow-y: auto; position: relative;">
          <div>
            <div *ngIf="invite">
              <h4 style="text-align: center; margin-bottom: 20px;" >
                <b>Invite Requests</b>
              </h4>
            </div>
            <div *ngIf="_new" class="d-flex">
              <h4 class="p-2" style=" margin-bottom: 20px;">
                <b>New Orders</b>
              </h4>
              <div class="ml-auto p-2">
                <a *ngIf="orderedNotifications.length != 0" class="markall" (click)='onChecked("Ordered")'>Mark all as read</a>
              </div>
            </div>
            <div *ngIf="critical">
              <h4 style="text-align: center; margin-bottom: 20px;">
                <b>Critical Orders</b>
              </h4>
            </div>
            <div *ngIf="cancel" class="d-flex">
              <h4 class="p-2" style="text-align: center; margin-bottom: 20px;" >
                <b>Cancelled Orders</b>
              </h4>
              <a *ngIf="cancelNotifications.length != 0" class="markall ml-auto p-2" (click)='onChecked("Cancelled")'>Mark all as read</a>
            </div>
            <div *ngIf="packed" class="d-flex">
              <h4 class="p-2" style="text-align: center; margin-bottom: 20px;">
                <b>Packed Orders</b>
              </h4>
              <a *ngIf="packedNotifications.length != 0" (click)='onChecked("Packed")' class="markall ml-auto p-2">Mark all as read</a>
            </div>
            <div *ngIf="dispatch" class="d-flex">
              <h4 class="p-2" style="text-align: center; margin-bottom: 20px;">
                <b>Dispatch Orders</b>
              </h4>
              <a *ngIf="dispatchedNotifications.length != 0" (click)='onChecked("Dispatched")' class="markall ml-auto p-2">Mark all as read</a>
            </div>
          </div>
          <div *ngIf="dispatch">
            <div *ngIf="dispatchedNotifications.length === 0">
              <p style="text-align: center; justify-content: center;">
                <b>No new notifications</b>
              </p>
            </div>
            <div
              fxLayout="row wrap"
              fxLayout.xs="column"
              fxLayoutAlign="space-around center"
              fxLayoutGap="25px"
              *ngFor="
                let i = index;
                let dispatchNotification
                of dispatchedNotifications
              "
            >
              <app-notification-card [notification]='dispatchNotification'
                [routerLink]="['../dashboard']" [fragment]="'dispatchedOrders'"
                [message]='dispatchedMessage'></app-notification-card>
            </div>
          </div>
          <div *ngIf="invite">
            <div *ngIf="invitations.length === 0">
              <p style="text-align: center; justify-content: center;">
                <b>No new notifications</b>
              </p>
            </div>
            <div
              fxLayout="row wrap"
              fxLayout.xs="column"
              fxLayoutAlign="space-around center"
              fxLayoutGap="25px"
            >
              <mat-card
                class="mat-elevation-z3 my-2"
                *ngFor="let invitation of invitations"
                [routerLink]="['../dashboard']" [fragment]="'inviteRequest'"
                style="cursor: pointer; margin-bottom: 1em;"
              >
                <div class="innerdiv">
                  <h5>New Enrollment Request</h5>
                </div>
                <div>
                  <p style="line-height: 1em; word-wrap: break-word;">
                    <b>{{ invitation.name }}</b> from <b>{{ invitation.city }}</b
                    >, <b>{{ invitation.state }}</b> has requested to be enrolled
                    onto the Kirana platform.
                  </p>
                </div>
              </mat-card>
            </div>
          </div>
          <div *ngIf="_new">
            <div *ngIf="orderedNotifications.length === 0">
              <p style="text-align: center; justify-content: center;">
                <b>No new notifications</b>
              </p>
            </div>
            <div
              fxLayout="row wrap"
              fxLayout.xs="column"
              fxLayoutAlign="space-around center"
              fxLayoutGap="25px"
              *ngFor="let i = index; let newNotification of orderedNotifications"
            >
              <app-notification-card [notification]='newNotification'
              [routerLink]="['../dashboard']" [fragment]="'newOrders'"
                [message]='newMessage'></app-notification-card>
            </div>
          </div>
          <div *ngIf="packed">
            <div *ngIf="packedNotifications.length === 0">
              <p style="text-align: center; justify-content: center;">
                <b>No new notifications</b>
              </p>
            </div>
            <div
              fxLayout="row wrap"
              fxLayout.xs="column"
              fxLayoutAlign="space-around center"
              fxLayoutGap="25px"
              *ngFor="
                let i = index;let packedNotification of packedNotifications"
            >
              <app-notification-card [notification]='packedNotification'
                [routerLink]="['../dashboard']" [fragment]="'packedOrders'"
                [message]='packedMessage'></app-notification-card>
            </div>
          </div>
          <div *ngIf="cancel">
            <div *ngIf="cancelNotifications.length === 0">
              <p style="text-align: center; justify-content: center;">
                <b>No new notifications</b>
              </p>
            </div>
            <div
              fxLayout="row wrap"
              fxLayout.xs="column"
              fxLayoutAlign="space-around center"
              fxLayoutGap="25px"
              *ngFor="
                let i = index;
                let cancelledNotification
                of cancelNotifications
              "
            >
              <app-notification-card [notification]='cancelledNotification'
                [routerLink]="['../dashboard']" [fragment]="'cancelOrders'"
                [message]='cancelMessage'></app-notification-card>
            </div>
          </div>
          <div *ngIf="critical">
            <div *ngIf="criticalFilteredArray.length === 0">
              <p style="text-align: center; justify-content: center;">
                <b>No new notifications</b>
              </p>
            </div>
            <div
              fxLayout="row wrap"
              fxLayout.xs="column"
              fxLayoutAlign="space-around center"
              fxLayoutGap="25px"
            >
              <mat-card
                class="mat-elevation-z3"
                *ngFor="
                  let i = index;
                  let criticalNotification
                  of criticalFilteredArray
                "
                [routerLink]="['../dashboard']" [fragment]="'criticalOrders'"
                style="cursor: pointer; margin-bottom: 1em;"
              >
                <div class="innerdiv">
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <h5  style="line-height: 1em; word-wrap: break-word;">
                        New Order for
                        <b>{{ criticalNotification.retailer_name }}</b>
                      </h5>
                    </div>
                    <div class="col-12 col-md-4 od">
                      <p style="margin-top: 5px; float: right;">Date:{{criticalNotification.timestamp | date:'mediumDate'}}</p>
                    </div>
                  </div>
                </div>
                <div class="innerdiv">
                  <small>OrderID: {{ criticalNotification.bill_no }}</small>
                  <p class="od">Time: {{criticalNotification.timestamp | date:'mediumTime'}}</p>
                </div>
                <p style="line-height: 1em; word-wrap: break-word;">
                  Customer Name:
                  <b>{{ criticalNotification.customer_name }}</b>
                </p>
                <p style="line-height: 1em; word-wrap: break-word;">
                  Customer Address:
                  <b>{{ criticalNotification.customer_address }}</b>
                </p>
              </mat-card>
            </div>

          </div>
          <div *ngIf='allnotify'>
            <h4 style="
            position: absolute;
            top: 50%;
            left: 50%;
            height: 30%;
            width: 50%;
            margin: -4% 0 0 -25%;opacity: 0.5;">All notifications are turned off</h4>
          </div>
          <div *ngIf='!_new && !packed && !cancel && !critical && !invite && !dispatch && !allnotify'>
            <h4 style="
            position: absolute;
            top: 50%;
            left: 50%;
            height: 30%;
            width: 50%;
            margin: -4% 0 0 -25%;opacity: 0.5;">Select Notifications to be shown</h4>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
