.outer {
  height: 85vh;
    margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
}
.mat-form-field + .mat-form-field {
  margin: 100px 2% 50px 2%;
}
p {
  line-height: 50%;
}
.innerdiv{
  overflow: hidden;
}
h5, small {
  float: left;
}
.od {
  float: right;
  margin-top: 5px;
}
.notify {
  margin-bottom: 1em;
}
.ptag {
  text-align: center;
  display: inline;
  word-wrap: break-word;
}
mat-chip {
  margin-left: 1.5em;
  border-radius: 20px;
  padding-left: 7px;
  padding-right: 7px;
}
.no {
  background-color: #4CAF50;
}
.se {
  background-color: #FBC02D;
}
// .exp-body {
//   height: 20vh;
//   overflow: scroll;
//   overflow-x: hidden;
// }
h3 {
  margin-bottom: 1em;
}
h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.pack {
  background-color: #ADFF2F;
}

.disp {
  background-color: lightseagreen;
}

.inv {
  background-color: orange;
}
.det {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 95%;
}
.card {
  width: 300%;
  margin: 2em;
  background-color: snow;
}
.button1:focus{
  // background: #b2ff59;
}
