<div class="outer">
  <h3>Notifications</h3>
  <mat-accordion multi='true'>
    <div class='notify' *ngIf="newOrderStatus =='true'">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
          New Order
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let i = index ;let newNotification of newOrderFilter" >
          <div class="innerdiv">
          <h5 >New Critical Order for {{newNotification.retailer_name}}</h5>
          <p class="od">Date: {{newOrderDate[i]}}</p>
          </div>
          <div class="innerdiv">
          <small>OrderID: {{newNotification.id}}</small>
          <p class="od">Time: {{newOrderTime[i]}}</p>
          </div>
          <p>Customer Name: {{newNotification.customer_name}}</p>
          <p> Customer Address: {{newNotification.customer_address}}</p>
          <hr>
        </div>
      </mat-expansion-panel>
    </div>
    <div class='notify' *ngIf="cancelOrderStatus =='true'">
      <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cancelled Order
          </mat-panel-title>
        </mat-expansion-panel-header>
          <div *ngFor="let i = index; let cancelledNotification of cancelOrderFilter" >
            <div class="innerdiv">
              <h5>New Cancelled Order for {{cancelledNotification.retailer_name}}</h5>
              <p class="od">Date: {{cancelOrderDate[i]}}</p>
            </div>
            <div class="innerdiv">
              <small>OrderID: {{cancelledNotification.id}}</small>
              <p class="od">Time: {{cancelOrderTime[i]}}</p>
            </div>
           <p>Customer Name: {{cancelledNotification.customer_name}}</p>
            <p> Customer Address: {{cancelledNotification.customer_address}}</p>
            <hr>
          </div>
      </mat-expansion-panel>
    </div>
    <div class='notify' *ngIf="criticalOrderStatus =='true'">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Critical Order
          </mat-panel-title>
        </mat-expansion-panel-header>
          <div *ngFor="let i = index; let criticalNotification of criticalOrderFilter">
            <div class="innerdiv" style="overflow: hidden;">
              <h5>New Critical Order for {{criticalNotification.ShopName}}</h5>
              <p class="od">Date: {{criticalOrderDate[i]}}</p>
            </div>
            <div class="innerdiv" style="overflow: hidden;">
              <small>OrderID: {{criticalNotification.OrderID}}</small>
              <p class="od">Time: {{criticalOrderDate[i]}}</p>
            </div>
            <p>Customer Name: {{criticalNotification.CustomerName}}</p>
            <p> Customer Address: {{criticalNotification.CustomerLocation}}</p>
            <hr>
          </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
