@import "../../../var";

.mat-toolbar {
  background-color: $side-panel-color;
  color: $text-dark;
  box-shadow: 0 8px 8px 0 #00000080;
  .head-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      > div > h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 6px;
        text-transform: uppercase;
      }
    }
    .logout-btn-container {
      width: 80px;
      display: flex;
      justify-content: space-between;
      margin-right: 70px;
    }
  }
}
#logout {
  margin-right: 20px;
}
#feedback {
  padding-right: 20px;
}
span {
  margin-left: 1rem;
}
.container {
  display: flexbox;
  margin-top: 50px;
  margin-left: 50px;
}
.example-h2 {
  margin: 10px;
  padding-bottom: 1rem;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
  position: absolute;
  right: 150px;
}
.toggle {
  padding-bottom: 50px;
}
.fa-bell {
  padding-right: 20px;
}
.fa-cog {
  padding-right: 20px;
}
