<div mat-dialog-actions class="row justify-content-end">
  <button
    mat-icon-button
    color="primary"
    [mat-dialog-close]=""
    style="position: relative; top: -1.5em;"
  >
    <mat-icon>clear</mat-icon>
  </button>
</div>
<h1 mat-dialog-title class="text-center">Invitation Request Detail</h1>
<div mat-dialog-content>
  <div class="row mb-4">
    <div class="col-6 font-weight-bold">
      <p>Name</p>
    </div>
    <div class="col-6">
      <p>{{data.name | titlecase}}</p>
    </div>

    <div class="col-6 font-weight-bold">
      <p>Request</p>
    </div>
    <div class="col-6">
      <p>{{data.request}}</p>
    </div>

    <div class="col-6 font-weight-bold">
      <p>Phone No.</p></div>
    <div class="col-6">
      <p>{{data.ph_no}}</p>
    </div>

    <div class="col-6 font-weight-bold">
      <p>Email</p>
    </div>
    <div class="col-6">
      <p>{{data.email}}</p>
    </div>

    <div class="col-6 font-weight-bold">
      <p>Address</p>
    </div>
    <div class="col-6" style="font-size: 95%;">
      <p class="m-0">{{data.line1}}</p>
      <p class="m-0">{{data.line2}}</p>
      <p class="m-0">{{data.city}}</p>
      <p class="m-0">{{data.state}}, {{data.pincode}}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions class="row justify-content-around">
  <!-- <button mat-raised-button (click)="onNoClick()">Cancel</button> -->
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>
    Accept
  </button>
  <button mat-raised-button [mat-dialog-close]="false" cdkFocusInitial>
    Reject
  </button>
</div>
