<mat-card
  class="mat-elevation-z3"
  (click)='onClick(notification.id)'
  style="cursor: pointer; margin-bottom: 1.5em;"
  [ngClass]=" notification.is_read ? 'positive' : 'negative'"
>
  <div class="row innerdiv">
    <div class="col-12">
      <h5>Order {{ message }} for <b>{{notification.retailer_name}}</b></h5>
    </div>
    <div class="col-12">
      <small>{{notification.bill_no}}</small><br>
      <i class="fa fa-user" style="font-size: 20px; vertical-align: bottom;"></i>&nbsp;&nbsp;&nbsp;
      <b>{{notification.customer_name}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-phone" style="font-size: 20px; vertical-align: bottom;"></i>&nbsp;&nbsp;&nbsp;{{notification.customer_phone}}
      <p style="float: right; line-height: 80%;">{{notification.timestamp | date:'mediumDate'}}</p>
    </div>
    <div class="col-12">
      <i class="fa fa-home" style="font-size: 20px; vertical-align: bottom;"></i>&nbsp;&nbsp;&nbsp;{{notification.customer_address}}
      <p style="float: right;">{{notification.timestamp | date:'shortTime'}}</p>
    </div>
  </div>
</mat-card>
