.mat-dialog-title{
    margin: 2px;

}
.content{
    display: inline-flex;
    .placeholder{
        margin-top: 20px;
    }
    .mat-form-field{
        width: 400px;
        margin-left: 10px;
    }
}
.buttons{
    margin-top: 10px;
    float: right;
}