<h2 mat-dialog-title class="text-center font-weight-bold">One-Time Password</h2>
<mat-dialog-content>
  <div class="w-100 row justify-content-center">
    <form class="col-10 pr-0" [formGroup]="form">
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="otp"
          placeholder="Enter the OTP sent to your registered phone-number"
        />
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="mt-3 row justify-content-around">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="form"
    [disabled]="form.invalid"
  >
    Ok
  </button>
</mat-dialog-actions>
