<h1 mat-dialog-title class="text-center font-weight-bold">
  Enter new password
</h1>
<mat-dialog-content>
  <div>
    <form [formGroup]="form">
      <div class="form-group">
        <label>New Password</label>
        <input
          formControlName="newPwd"
          id="newPwd"
          type="password"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="newPwd.touched && newPwd.invalid"
        >
          <div *ngIf="newPwd.errors.required">New Password is required.</div>
          <div *ngIf="newPwd.errors.pattern">
            Password should contain Special letter, number, a uppercase letter,
            a lower case letter, length should be more than 8.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input
          formControlName="confirmPwd"
          id="confirmPwd"
          type="password"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="confirmPwd.touched && confirmPwd.invalid"
        >
          <div *ngIf="confirmPwd.errors.required">
            Confirm Password is required.
          </div>
        </div>
        <div
          class="alert alert-danger"
          *ngIf="confirmPwd.valid && form.invalid && form.errors.pwdsDontMatch"
        >
          Passwords do not match.
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="mt-3 mb-2">
  <div class="w-100 row justify-content-around">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="form"
      [disabled]="form.invalid"
    >
      Change Password
    </button>
  </div>
</mat-dialog-actions>
