<h1 mat-dialog-title> Enter new password : </h1>
<div>
    <form [formGroup]="form" (ngSubmit)="submit(form)">
        <mat-dialog-content>
            <mat-form-field>
                <input matInput type="password" formControlName="pass" placeholder="Enter new password">
                <input matInput type="password" formControlName="confirmPass" placeholder="Confirm new password">
                <div>{{form.status}}</div>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button type="submit" [disabled]="form.invalid">OK</button>
            <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
        </mat-dialog-actions>
    </form>
</div>