<h1 mat-dialog-title class="text-center font-weight-bold">Add new Item</h1>
<div mat-dialog-content>
  <form class="item-form row" [formGroup]="itemForm">
    <!-- Name Container -->
    <div class="col-12">
      <mat-form-field class="example-full-width">
        <mat-label>Product Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Enter Product Name"
        />
        <mat-error>Product Name is <strong>Invalid</strong> </mat-error>
      </mat-form-field>
    </div>
    <!-- Category Container -->
    <div class="col-12 row pr-0">
      <mat-form-field class="col-8" *ngIf="!isAddCategory">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let c of data.categories" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
        <mat-error> Category is <strong>Invalid</strong> </mat-error>
      </mat-form-field>
      <div class="col-8" *ngIf="isAddCategory">
        <mat-form-field class="example-full-width">
          <mat-label>New Category</mat-label>
          <input
            matInput
            formControlName="category"
            placeholder="Enter new Category"
          />
          <mat-error> Category is <strong>Invalid</strong> </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4 text-center">
        <button mat-raised-button (click)="addCategory()">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >{{isAddCategory == true ? 'remove':'add'}}</mat-icon
          >
        </button>
      </div>
    </div>
    <!-- Sub Category Container -->
    <div class="col-12 row pr-0">
      <mat-form-field class="col-8" *ngIf="!isAddSubCategory">
        <mat-label>Sub-category</mat-label>
        <mat-select formControlName="sub_category">
          <mat-option
            *ngFor="let sub of data.sub_categories[itemForm.controls.category.value]"
            [value]="sub"
          >
            {{sub}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="itemForm.controls.sub_category.errors">
          Sub-category is <strong>Invalid</strong>
        </mat-error>
      </mat-form-field>
      <div class="col-8" *ngIf="isAddSubCategory">
        <mat-form-field class="example-full-width">
          <mat-label>New Sub-category</mat-label>
          <input
            matInput
            placeholder="Enter new Sub-category"
            formControlName="sub_category"
          />
          <mat-error *ngIf="itemForm.controls.sub_category.errors">
            Sub-category is <strong>Invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4 text-center">
        <button mat-raised-button (click)="addSubCategory()">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >{{isAddSubCategory == true ? 'remove':'add'}}</mat-icon
          >
        </button>
      </div>
    </div>
    <!-- Brand Conatiner -->
    <div class="col-12 row pr-0">
      <mat-form-field class="col-8" *ngIf="!isAddBrand">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option
            *ngFor="let brand of data.brands[itemForm.controls.sub_category.value]"
            [value]="brand"
          >
            {{brand}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="itemForm.controls.brand.errors">
          Brand is <strong>Invalid</strong>
        </mat-error>
      </mat-form-field>
      <div class="col-8" *ngIf="isAddBrand">
        <mat-form-field class="example-full-width">
          <mat-label>New Brand</mat-label>
          <input
            matInput
            placeholder="Enter new Brand"
            formControlName="brand"
          />
          <mat-error *ngIf="itemForm.controls.brand.errors">
            Brand is <strong>Invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4 text-center">
        <button mat-raised-button (click)="addBrand()">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >{{isAddBrand == true ? 'remove':'add'}}</mat-icon
          >
        </button>
      </div>
    </div>
    <!-- Qunatity Unit Container -->
    <div class="col-12 row pr-0">
      <mat-form-field class="col-8">
        <mat-label>Quantity Unit</mat-label>
        <mat-select formControlName="quantity_type">
          <mat-option
            *ngFor="let quantity of quantity_types"
            [value]="quantity"
          >
            {{quantity}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="itemForm.controls.quantity_type.errors">
          Quantity Unit is <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Variant Container -->
    <div class="col-12 row mt-2 pr-0" formArrayName="variant_details">
      <div class="row col-12 justify-content-between align-items-center mb-2">
        <p class="col-8 font-weight-bold m-0" style="font-size: 1.15em;">
          Variants List
        </p>
        <div class="col-4 text-right">
          <button mat-raised-button (click)="addVariant()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              add
            </mat-icon>
          </button>
        </div>
      </div>
      <div class="row col-12 pr-0">
        <div
          class="col-12 pr-0"
          *ngFor="let v of allVariants.controls; let i = index"
        >
          <table cellspacing="0" [formGroupName]="i">
            <tr class="row px-0">
              <td class="col-4 pr-0">
                <mat-form-field class="example-full-width">
                  <mat-label>Variants</mat-label>
                  <input
                    matInput
                    formControlName="variant"
                    placeholder="Enter Variant"
                  />
                  <mat-error><strong>Invalid</strong> </mat-error>
                </mat-form-field>
              </td>
              <td class="col-4 pr-0">
                <mat-form-field class="example-full-width">
                  <mat-label>Quantity Type</mat-label>
                  <input
                    matInput
                    type="number"
                    min="0"
                    formControlName="quantity"
                    placeholder="Enter Quantity"
                  />
                  <mat-error><strong>Invalid</strong> </mat-error>
                </mat-form-field>
              </td>
              <td class="col-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Price</mat-label>
                  <input
                    matInput
                    type="number"
                    min="0"
                    formControlName="price"
                    placeholder="Enter Price"
                  />
                  <mat-error><strong>Invalid</strong> </mat-error>
                </mat-form-field>
              </td>
              <td class="pl-0 col-1">
                <button
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon-button with delete icon"
                  (click)="removeVariant(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- description Container -->
    <div class="col-12">
      <mat-form-field class="example-full-width">
        <mat-label>Detail</mat-label>
        <textarea
          formControlName="details"
          matInput
          placeholder="Description of Item"
        ></textarea>
        <mat-error>Detail is <strong>Invalid</strong> </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mt-2 row justify-content-around">
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="itemForm.value"
    [disabled]="!itemForm.valid"
  >
    Add
  </button>
</div>
