.category-container,
.subcategory-container,
.brand-container,
.quantity-container,
.variant-container,
.name-container {
  display: flex;
  width: 105%;
  align-items: center;
  justify-content: space-between;
}

.example-full-width {
  width: 100%;
}
