<div class="side-panel-container" [@animationOption1]="clickedDivState">
  <div class="side-panel">
    <div class="nav-options" *ngIf="!isExpanded">
      <a *ngFor="let item of navOptions" class="nav-option cursorPointer"
        [ngClass]="{'active': item.title == selectedOption.title}" (click)="navBarSelected(item)" [title]="item.title">
        <span class="logo"> <i class={{item.icon}}></i></span>
        <!-- <br> -->
        <span class="logotext">{{item.title}}</span>
      </a>
    </div>
  </div>
</div>
