@import "../../../var";

.side-panel-container {
  width: 72px;
  background-color: $side-panel-color;
  float: left;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  .side-panel {
    height: 91.75vh;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 8px 0 #00000080;

    .nav-options {
      text-align: center;

      .nav-option {
        color: $text-dark;
        padding: 1.3em 3px;
        text-decoration: none;
        display: block;
        // margin-bottom: 3em;
        span {
          display: block;
          padding: 0;
        }
        .logo {
          i {
            font-size: 1.6em;
          }
        }
        .logotext {
          font-size: 11px;
          font-weight: bold;
        }
      }

      .nav-option:hover,
      .active {
        background-color: $side-panel-active-color;
      }
    }
  }
}

.expanded {
  width: 150px;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
