<h1 mat-dialog-title class="text-center font-weight-bold">
  Change the Status
</h1>
<div mat-dialog-content class="text-center">
  <form>
    <mat-form-field>
      <mat-label>Choose Status</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="status">
        <mat-option *ngFor="let i of statuses" [value]="statuses.indexOf(i)">
          {{i}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="row justify-content-around">
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="selectedValue"
    cdkFocusInitial
  >
    Update
  </button>
</div>
