/* You can add global styles to this file, and also import other style files */
@import './_var';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  // font-size: 15px;
  // color: #333344;
}

body {
    background-color: $color-primary2;
    overflow: hidden;
}

a {
    text-decoration: none;
}
.cursorPointer {
    cursor: pointer;
}
.snackbar {
  padding: 10px !important; // spacing between the text and boundary
  color: #f7f0cf;
  width: 100px;
  text-align: center;
  .mat-button-wrapper {
      color: black !important; // action text color
  }
}
