<h1 mat-dialog-title class="text-center font-weight-bold">
  Edit the Product Information
</h1>
<div mat-dialog-content class="text-center">
  <form [formGroup]="itemForm">
    <div class="description-container">
      <mat-form-field class="w-100">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          matInput
          placeholder="Description of Item"
        ></textarea>
      </mat-form-field>
    </div>
  </form>
</div>

<mat-dialog-actions class="mt-3 mb-2">
  <div class="w-100 row justify-content-around">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!itemForm.valid"
      [mat-dialog-close]="itemForm.value"
    >
      Update
    </button>
  </div>
</mat-dialog-actions>
