<div mat-dialog-actions class="row justify-content-end">
  <button mat-mini-fab [mat-dialog-close]="'No Data'" cdkFocusInitial>
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div
  class="row align-content-center justify-content-center"
  style="height: 90%;"
>
  <div
    id="carouselExampleIndicators"
    class="carousel col-12"
    data-ride="carousel"
  >
    <div class="carousel-inner row justify-content-center">
      <div
        class="carousel-item mr-0 h-100 w-100 text-center"
        *ngFor="let img of data;let j=index"
        [ngClass]="{'active': j===0}"
      >
        <img
          [src]="img"
          (error)="handleImageUrlError($event)"
          class="w-75 h-auto"
          [ngClass]="{'active': j===0}"
          alt="No Image Found"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <button mat-mini-fab>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span> -->
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <button mat-mini-fab>
        <mat-icon>navigate_next</mat-icon>
      </button>
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span> -->
    </a>
  </div>
</div>
