img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

table {
  width: 100%;
}

.text-90 {
  font-size: 90%;
}

.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead{
  min-width: 32em;
  overflow-y: auto;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
  text-align: center;
}

.table-fixed tbody >tr>  td,
// .table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative;

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
