<h1 mat-dialog-title class="text-center font-weight-bold">
  Upload Product Image
</h1>
<div mat-dialog-content>
  <div class="previewImageContainer text-center"></div>
  <div class="text-center mt-2">
    <button mat-button color="primary" (click)="onClick()">
      <mat-icon>file_upload</mat-icon> Select Image
    </button>
    <input
      accept="image/*"
      type="file"
      id="fileUpload"
      style="display: none;"
    />
  </div>
</div>

<mat-dialog-actions class="mt-3 row justify-content-around">
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="picUploadForm"
    [disabled]="!isImageSelected"
  >
    Ok
  </button>
</mat-dialog-actions>
